@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Londrina+Outline&family=Londrina+Solid&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #282a36;
  --bg-nav: #191a21;
  --active-component-line: #9e5b8b;
  --active-component-bg: #393b4d;
  --sidebar-bg: #343746;
  --bg-main: #21222c;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

.navbar {
  background-color: var(--bg-nav);
}

.sideNav {
  background-color: var(--sidebar-bg);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.active-component-line {
  background-color: var(--active-component-line);
}
.active-text {
  color: var(--active-component-line);
}
.active_component_bg {
  background-color: var(--active-component-bg);
}

.active_border_line {
  border-left: 3px solid var(--active-component-line);
}
.active_border_line_top {
  border-top: 3px solid var(--active-component-line);
}

.explorer {
  background-color: var(--bg-main);
}
.explorer-text {
  color: var(--bg-main);
}
.sidebar-text {
  color: var(--sidebar-bg);
}
.nav-text {
  color: var(--bg-nav);
}
.calc_height {
  height: calc(100vh - 45px);
}

.body_color {
  background-color: var(--bg-color);
}

.outLine {
  /* font-family: 'Bungee Outline', sans-serif; */
  font-family: "Londrina Outline", sans-serif;
}

.solidText {
  font-family: "Londrina Solid", sans-serif;
}

/* @media (max-width: 940px) {
  .hidden-tab{
    display: none;
  }

} */